@page
@model LocationTracker.Pages.Studies.History.DeleteModel

@{
    ViewData["Title"] = "Delete Study";
}


<h3>Are you sure you want to delete this item?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudyHistoryDeleteVM.StudyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyHistoryDeleteVM.StudyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyHistoryDeleteVM.StudyTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyHistoryDeleteVM.StudyTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyHistoryDeleteVM.StatusName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyHistoryDeleteVM.StatusName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyHistoryDeleteVM.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyHistoryDeleteVM.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyHistoryDeleteVM.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyHistoryDeleteVM.EndDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="StudyHistoryDeleteVM.StudyID"/>
        <input type="hidden" asp-for="StudyHistoryDeleteVM.StudyHistoryID"/>
        <input type="hidden" asp-for="StudyHistoryDeleteVM.StudyTypeID"/>
        <input type="hidden" asp-for="StudyHistoryDeleteVM.StatusID"/>
        <input type="submit" value="Delete" class="btn btn-default"/> |
        <a asp-page="./">Back to Study</a>
    </form>
</div>
